<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoga.member.mapper.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yoga.member.entity.Member">
        <id column="id" property="id" />
        <result column="gender" property="gender" />
        <result column="nick_name" property="nickName" />
        <result column="mobile" property="mobile" />
        <result column="birthday" property="birthday" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="openid" property="openid" />
        <result column="session_key" property="sessionKey" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="balance" property="balance" />
        <result column="city" property="city" />
        <result column="country" property="country" />
        <result column="language" property="language" />
        <result column="province" property="province" />
    </resultMap>

    <select id="listMembersWithPage" resultType="com.yoga.member.vo.MemberPageVO">
        SELECT
        m.id,
        m.gender,
        m.nick_name AS nickName,
        m.mobile,
        m.birthday,
        m.avatar_url AS avatarUrl,
        m.status,
        m.deleted,
        m.balance,
        m.gmt_create AS gmtCreate,
        mt.member_type_name AS memberTypeName,
        mc.membership_card_id AS membershipCardId
        FROM
        member m
        LEFT JOIN member_type mt ON m.id = mt.member_id
        LEFT JOIN membership_card mc ON mc.membership_card_id = mt.member_card_id
        <where>
            m.deleted = 0
            <if test='queryParams.nickName!=null and queryParams.nickName.trim() neq ""'>
                AND m.nick_name like concat('%',#{queryParams.nickName},'%')
            </if>
            <if test='queryParams.mobile!=null and queryParams.mobile.trim() neq ""'>
                AND m.mobile like concat('%',#{queryParams.mobile},'%')
            </if>
            <if test='queryParams.membershipCardId !=null'>
                AND mc.membership_card_id = #{queryParams.membershipCardId}
            </if>
            <if test='queryParams.placeId != 1'>
                AND mt.place_id = #{queryParams.placeId}
            </if>
        </where>
    </select>

    <select id="getMemberNum" resultType="java.lang.Integer">
        select
        count(*) memberSum
        from
        member
    </select>

</mapper>
